ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: red;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#invisible{
  display: none;
}

#tournament_title{
  text-align: center;
  text-shadow: 2px 2px White;
}

#bracket{
  height: auto;
}
