<html lang="en">
  <head>
    <title>Update Profile</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <h2>Welcome to our site, {{user}}s! Please sign up!</h2> <br>
            <form method="post" action="updateProfile">
            <input name="first_name" placeholder='First Name'/>
            <br>
            <input name="last_name" placeholder='Last Name'/>
            <br>
            <input name="profile_name" placeholder="User Name"/>
            <input type="submit"/>
            </form>
  </body>
</html>
