<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>tournament Viewer</title>
    <link rel="stylesheet" href="../css/stylesheet.css"/>
    <style>
      body{
        background-image: url({{back}});
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position: center; */
      }
      #bracket{
        font-family: {{font}};
        color: {{color}};
      }
    </style>
  </head>
  <body>
    <div id="invisible">
      <p id="color">{{color}}</p>
      <p id="font">{{font}}</p>
    </div>
    <h1 id="tournament_title">{{title}}</h1>
    <div id="bracket">
      {% for i in users%}
      <div class="brackets">
        <h3 class="player">{{i.first_name}}</h3>
      </div>
      {% endfor %}
    </div>
    <script type="text/javascript" src="../script/script.js"></script>
  </body>
</html>
